<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact app</title>
</head>
<body>
    <h1>Contacts</h1>

    <% contacts.forEach((contact, index) =>{%>
        <div>
        <p><%=contact.name%></p>
        <a href="/edit/<%=index%>">Edit</a>
        <a href="/view/<%=index%>">View</a>
        <a href="/delete/<%=index%>">Delete</a>
        </div>
    <%});%>
    <a href="/add">Add Contact</a>
    
</body>
</html>